@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/clarissa-2');



@font-face {
    font-family: "Minion Variable Concept";
    src: url('../fonts/Minion_Variable_Concept.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-title: 'Clarissa', cursive;
    --font-text: "Minion Variable Concept", serif;
    --color1: #232323;
    --color2: #e8e8e8;
    --color3: #4c515b;
    --headerHeight: 60px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    font-size: 10px;
    background-color: var(--color2);
}

header {
    background-color: var(--color3);
    font-family: var(--font-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    max-height: 40px;
}

.navLinks {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navLinks a,
.navLinks a:visited {
    font-size: 2em;
    color: var(--color2);
    font-weight: 600;
    text-decoration: none;
    padding: 16px 10px;
}

.navLinks a:hover {
    background-color: var(--color2);
    color: var(--color3);
}

.navLinks a:active {
    text-decoration: underline;
}

aside {
    top: 90%;
    position: fixed;
    background-color: white;
    border-radius: 0 100px 100px 0;
    padding-left: 15px;
}

aside img {
    border-radius: 50%;
}

aside a,
aside a:visited {
    width: 180px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--color1);
    font-size: 1.4em;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border-bottom: 2px solid white;
    height: 100vh;
    padding-top: var(--headerHeight);
    font-family: var(--font-text);
    color: var(--color1);
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.content {
    width: 70%;
}

section h2 {
    margin: 30px 0 0 0;
    font-family: var(--font-title);
    font-size: 3em;
}

#home {
    background-image: url(../images/banner.webp);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imgTitle {
    width: 500px;
    margin-right: 50px;
    text-align: center;
}

.title {
    max-width: 450px;
    transform: translateY(50%);
}

.card {
    width: 500px;
    height: 75%;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px 30px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card p {
    text-indent: 2em;
}

.card div {
    text-align: center;
}

.card a,
.card a:visited {
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 25px;
    background-color: var(--color3);
    color: var(--color2);
}

.card a:hover {
    background-color: var(--color1)
}

form {
    max-width: 600px;
}

.formContacts {
    display: flex;
    gap: 5%;
}

input,
textarea {
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    margin: 10px 0;
    border-style: none;
}

textarea {
    resize: none;
    height: 180px;
}

input[type=submit] {
    margin: 0 auto;
    width: 30%;
    height: 45px;
    font-size: 18px;
    font-family: var(--font-text);
    color: var(--color2);
    background-color: var(--color3);
}

input::placeholder,
textarea::placeholder {
    font-family: var(--font-text);
    font: 20px;
    color: var(--color1);
}

input:hover,
textarea:hover {
    border-bottom: 2px solid var(--color3);
    border-right: 2px solid var(--color3);
}